@using System.Data
@using System.Globalization

@model DataTable;

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayName("ID")</th>
                <th>@Html.DisplayName("USERNAME")</th>
                <th>@Html.DisplayName("PASSWORD")</th>
                <th>@Html.DisplayName("FULLNAME")</th>
                <th>@Html.DisplayName("EMAIL")</th>
                <th>@Html.DisplayName("DEPARTMENT")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    <td>@row["ID"]</td>
                    <td>@row["USERNAME"]</td>
                    <td>@row["PASSWORD"]</td>
                    <td>@row["FULLNAME"]</td>
                    <td>@row["EMAIL"]</td>
                    <td>@row["DEPARTMENTNAME"]</td>
                    <td>
                        <a href="@Url.Action("Edit", "User", new { id = row["ID"] })" class="btn btn-primary">Edit</a>
                        <form action="@Url.Action("Delete", "User", new { id = row["ID"] })" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="Delete" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
