@using System.Data
@model DataTable;

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<h3>@ViewBag.Username</h3>

<a asp-action="Create" class="btn btn-success mt-1" asp-route-IdUser="@ViewBag.IdUser">
    <i class="fa fa-plus-circle" aria-hidden="true"></i> Create New
</a>

<div class="">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayName("ID")</th>
                <th>@Html.DisplayName("BUTTONNAME")</th>
                <th>@Html.DisplayName("DESCRIPTION")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    <td>@row["ID"]</td>
                    <td>@row["BUTTONNAME"]</td>
                    <td>@row["DESCRIPTION"]</td>
                    <td>
                        <form action="@Url.Action("Delete", "ButtonRelation", new { id = row["ID"] })" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="Delete" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Permission of @ViewBag.Username?');"><i class="fa fa-trash"></i> Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
