@using System.Data
@using System.Globalization

@model DataTable;

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<a asp-action="Create" class="btn btn-success mt-1">
    <i class="fa fa-plus-circle" aria-hidden="true"></i> Create New
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID")
            </th>
            <th>
                @Html.DisplayName("BUTTONNAME")
            </th>
            <th>
                @Html.DisplayName("DESCRIPTION")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (DataRow row in Model.Rows) {
        <tr>
            <td>@row["ID"]</td>
            <td>@row["BUTTONNAME"]</td>
            <td>@row["DESCRIPTION"]</td>
                <td>
                    <a href="@Url.Action("Edit", "Button", new { id = row["ID"] })" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
                    <form action="@Url.Action("Delete", "Button", new { id = row["ID"] })" method="post" style="display:inline;">
                        <input type="hidden" name="_method" value="Delete" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Button?');"><i class="fa fa-trash"></i> Delete</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>